services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    environment:
      - NODE_ENV=production
    volumes:
      - ./apps/backend/db.sqlite:/app/db.sqlite
    ports:
      - "4000:4000"
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "4173:4173"
    depends_on:
      - backend
